body {
    background-color: #34273a;
    color: white;
    font-family: Arial, sans-serif;
}

nav {
    /* Dark background */
    padding: 15px 0;
    margin-left: 100px;
}

.nav-links {
    list-style: none;
    display: flex; /* Makes items align side by side */
    justify-content: center; /* Centers the nav links */
    gap: 75px; /* Space between links */
    padding: 0;
}

.nav-links li {
    display: inline; /* Ensure list items stay inline */
}

.nav-links a {
    text-decoration: none;
    color: #1293d0;
    font-family: 'Others', monospace; 
    font-size: 25px;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #b5e3f7;
    border-radius: 20px;
}