stages:
  - build
  - lint
  - test

# BUILD STAGE
build-backend:
  stage: build
  image: gradle:7.5-jdk17
  script:
    - echo "Building backend..."
    - cd backend
    - ./gradlew clean build
  rules:
    - when: always
  allow_failure: false

# LINT STAGE
lint-backend:
  stage: lint
  image: gradle:7.5-jdk17
  script:
    - echo "Checking backend linter..."
    - cd backend
    - ./gradlew check
  rules:
    - when: always
  allow_failure: false

lint-frontend:
  stage: lint
  image: node:22
  script:
    - echo "Checking frontend linter..."
    - cd frontend
    - npm ci
    - npx eslint .
  rules:
    - when: always
  allow_failure: false

lint-python:
  stage: lint
  image: python:3.11-slim
  script:
    - echo "Checking ingester linter..."
    - cd ingester
    - pip install --upgrade pip
    - apt-get update && apt-get install -y gcc python3-dev libmariadb-dev libmariadb-dev-compat && rm -rf /var/lib/apt/lists/*
    - pip install -r requirements.txt
    - pylint src --fail-under=9
  rules:
    - when: always
  allow_failure: false

# TEST STAGE
test-backend:
  stage: test
  image: gradle:7.5-jdk17
  coverage: '/Total.*?([0-9]{1,3})%/'
  script:
    - echo "Running backend tests..."
    - cd backend
    - ./gradlew test
    - awk -F"," '{ instructions += $4 + $5; covered += $5 } END { print covered, "/", instructions, " instructions covered"; print "Total coverage:", 100*covered/instructions,  "%"}' build/reports/jacoco/test/jacocoTestReport.csv
  artifacts:
    paths:
      - backend/build/reports/jacoco/test/jacocoTestReport.csv
  rules:
    - when: always
  allow_failure: false

test-frontend:
  stage: test
  image: node:22
  script:
    - echo "Running frontend tests with Vitest..."
    - cd frontend
    - npm ci
    - npx vitest run --coverage
  rules:
    - when: always
  allow_failure: false

test-ingester:
  stage: test
  image: python:3.11-slim
  script:
    - echo "Running ingester tests..."
    - cd ingester
    - pip install --upgrade pip
    - apt-get update && apt-get install -y gcc python3-dev libmariadb-dev libmariadb-dev-compat && rm -rf /var/lib/apt/lists/*
    - pip install -r requirements.txt
    - pytest --cov=. --cov-report=term-missing --cov-report=html --cov-report=xml --junitxml=report.xml
  artifacts:
    reports:
      junit: ingester/report.xml
    paths:
      - ingester/.pytest_cache/
      - ingester/htmlcov/
      - ingester/report.xml
  coverage: '/Coverage.*?([0-9]{1,3})%/'
  rules:
      - when: always
  allow_failure: false