/* First Font: Pixel */
@font-face {
    font-family: 'picel'; /* Custom name for the font */
    src: url('fonts/pixel_operator/PixelOperator.ttf') format('truetype');
}

/* Second Font: Minecraft */
@font-face {
    font-family: 'MinecraftFont'; /* Custom name for the font */
    src: url('fonts/MinecraftTen-VGORe.ttf') format('truetype');
}

/* Third Font: Others */
@font-face {
    font-family: 'Others'; /* Custom name for the font */
    src: url('fonts/font/1900805.ttf') format('truetype');
}

@font-face {
    font-family: 'Fab';
    src: url('fonts/ta_fabricans/TA-Fabricans-ExtraLight.otf');
}

p.sans-serif-text {
    font-family: sans-serif;
  
}

body {
    background-color: #34273a;
    color: white;
    font-family: sans-serif;
}

nav {
    /* Dark background */
    padding: 15px 0;
}

.nav-links {
    list-style: none;
    display: flex; /* Makes items align side by side */
    justify-content: center; /* Centers the nav links */
    gap: 75px; /* Space between links */
    padding: 0;
}

.nav-links li {
    display: inline; /* Ensure list items stay inline */
}

.nav-links a {
    text-decoration: none;
    color: #1293d0;
    font-family: 'Others', monospace; 
    font-size: 25px;
    padding: 10px 15px;
    transition: 0.3s;
}

.nav-links a:hover {
    background-color: #b5e3f7;
    border-radius: 20px;
}