


  /* First Font: Pixel */
  @font-face {
    font-family: 'picel'; /* Custom name for the font */
    src: url('fonts/pixel_operator/PixelOperator.ttf') format('truetype');
}

/* Second Font: Minecraft */
@font-face {
    font-family: 'MinecraftFont'; /* Custom name for the font */
    src: url('fonts/MinecraftTen-VGORe.ttf') format('truetype');
}

/* Third Font: Others */
@font-face {
    font-family: 'Others'; /* Custom name for the font */
    src: url('fonts/font/1900805.ttf') format('truetype');
}

@font-face {
    font-family: 'Fab';
    src: url('fonts/ta_fabricans/TA-Fabricans-ExtraLight.otf');
}

p.sans-serif-text {
    font-family: sans-serif;

}

body {
    color: white;
    font-family: sans-serif;
}
body.dark-mode {
    background-color: #1e1421; /* Red background for the entire page */
    color:#1e1421;
}

/* You can also apply specific styles to individual sections or divs if needed */
.dark-mode .main-content {
    background-color: #1e1421;
    color: #1e1421;
}
body.dark-mode .nav-links a {
    color: white; /* Ensure text remains visible */
    background-color: transparent; /* Remove any link background for contrast */
}

nav {
    /* Dark background */
    padding: 15px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Aligns nav items to the right */
    gap: 50px;
    padding: 0;
}

.nav-links li {
    display: inline; /* Ensure list items stay inline */
}

.nav-links a {
    text-decoration: none;
    color: #1293d0;
    font-family: 'Others', monospace; 
    font-size: 25px;
    padding: 10px 15px;
    transition: 0.3s;
}
.nav-links a.dark-mode {
    color: white;
}

.nav-links a:hover {
    background-color: #b5e3f7;
    border-radius: 20px;
}
.contact-info {
    border-color: #2b9bda ;
    background-color: transparent;
  }

.dark-mode .contact-info {
border-color: white;
background-color: transparent;
color: white;
}
